.git
backups
gtceu
ldlib
local
logs
modernfix
mods                       
patchouli_books            
resourcepacks              
saves                      
xaero                      
knownkeys.txt              
list.txt                   
minecraftinstance.json     
options.txt                
patchouli_data.json        
rhino.local.properties     
usercache.json             
usernamecache.json         
crash-reports
screenshots
user-prefs.json
emi.json
manifest.json
Xaero*
xaero
hs*
LICENSE
modlist.html
.curseclient
fancymenu_data
apikey.py
__pycache__
observable_announce
