.git
backups
gtceu
ldlib
local
logs
modernfix                     
patchouli_books            
resourcepacks              
saves                      
xaero                      
knownkeys.txt              
list.txt                   
minecraftinstance.json     
options.txt                
patchouli_data.json        
rhino.local.properties     
usercache.json             
usernamecache.json         
crash-reports
screenshots
user-prefs.json
emi.json
manifest.json
Xaero*
xaero
hs*
LICENSE
modlist.html
.curseclient
fancymenu_data
apikey.py
__pycache__
observable_announce
logs
emi.json
options.txt
packet.txt
user-prefs.json
usercache.json
usernamecache.json
hss_err*
patchouli_books
patchouli_data
rhino.local.properties
ldlib
local
modernfix
probe
.vscode
backups
crash-report
journeymap*
extrakube from modpacks
kubejs\probe\*
mixin.out
mixin
.mixin
mixin.out\*
mixin.out*
mixin.out/class*
mixin.out\class\*
.mixin.out/class/net/minecraft/util/HttpUtil.class
.mixin.out/class/net/minecraft/client/renderer/ItemModelShaper$Anonymous$a157b521662142c6958d62aea144a914.class
.mixin.out/class/appeng/helpers/patternprovider/PatternProviderTargetCache$Anonymous$625a91d1099b41f9bc0617ce4918de86.class
.mixin.out/class/dev/ftb/mods/ftblibrary/core/mixin/common/MultilineTextFieldAccess.class
.mixin.out/class/earth/terrarium/adastra/common/items/armor/base/CustomDyeableArmorItem$Anonymous$02542f92ef244f46ba12584815940dfb.class
.mixin.out/class/earth/terrarium/adastra/common/items/rendered/RenderedBlockItem$Anonymous$88fa821065ad4cc39afe087626f9c128.class
.mixin.out/class/earth/terrarium/adastra/common/items/rendered/RenderedItem$Anonymous$76bc8e0ef8e64d0ca584d7d2158fd1e0.class
.mixin.out/class/earth/terrarium/adastra/common/items/rendered/TooltipRenderedBlockItem$Anonymous$2f951e3068ff49e4a87bf68b083fad4a.class
.mixin.out/class/mezz/jei/library/gui/ingredients/RecipeSlot.class
.mixin.out/class/mezz/jei/library/gui/recipes/layout/builder/RecipeSlotBuilder.class
.mixin.out/class/net/minecraft/client/gui/components/MultilineTextField.class
.mixin.out/class/net/minecraft/world/level/GameType.class
.mixin.out/class/appeng/core/sync/packets/PatternAccessTerminalPacket.class
.mixin.out/class/appeng/blockentity/crafting/PatternProviderBlockEntity.class
.mixin.out/class/appeng/client/gui/AEBaseScreen.class
