.git
backups
gtceu
ldlib
local
logs
modernfix
mods                       
patchouli_books            
resourcepacks              
saves                      
xaero                      
knownkeys.txt              
list.txt                   
minecraftinstance.json     
options.txt                
patchouli_data.json        
rhino.local.properties     
usercache.json             
usernamecache.json         